*{    
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial;
    font-size: 18px;
}
header{
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
}
#menu{
    background-color: gray;
    padding: 1%;
}

#menu ul li{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    color: white;
    text-decoration: none;
}

#menu ul li a{
    display: inline-block;
    color: white;
    text-decoration: none;
}
#menu ul li a:hover{
    text-decoration: underline;
}
#menu ul #logo{
    
    margin-right: 1%;
    margin-left: 2%;
}

/***************************/
#main-container header main{
    margin: 0 auto;
    width: 90%;
}
#main-container header main div{
    display: inline-block;
    vertical-align: middle;
}


#main-container header main .text p{   
    font-size: 20px;
    padding: 20px 0;
    margin-left: 1%;
}
button{
    background-color: green;
    border: 0;
    border-radius:  3px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 20px 25px;
    margin: 40px 0;
}
button:hover{
    background: #14929b;
}

/********************************************/
.layout{
    width: 1280px;
    margin: 250px auto;
}
#main-container .section .layout div{
    display: inline-block;
    vertical-align: middle;
}
#main-container .section .layout h3{
    font-size: 48px;
    padding: 25px 0;
}
#main-container .section .layout p{
    padding: 25px 0;
    line-height: 32px;
}
#main-container .section .layout-left .text{
    width: 500px;
}
#main-container .section .layout-left .image{
    width: 1000px;
    text-align: right;
}
#main-container .section .layout-right .text{
    width: 500px;
}
#main-container .section .layout-right .image{
    width: 600px;
    text-align: center;
}
footer{
    background-color: gray;
    color: white;
    padding: 2%;
    text-align: center;
}