{% extends "base.html" %}

    {% block titulo %}

    {% endblock %}

    {% block contenido_que_cambia %}


    <div style="width: 18rem; margin: 10px;">
        <img src="https://th.bing.com/th/id/OIP.PIXgPD0UP1WsSUw2Qz2wWAHaHa?w=208&h=208&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Precio: ${{product.price}} </p>  
          <p class="card-text">Stock: {{product.stock}}</p>   
          <p class="card-text">Descripcion: {{product.description}}</p>

          <a href="/products/borrar/{{product.id}}/" class="btn btn-primary">borrar</a>
        </div>
      </div>


{% endblock %}