<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orange-Shoes</title>
    <link rel="stylesheet"  href="../static/main.css">
</head>
<body>
    <div id="main-container">
        <header>
            <div id="menu">
                <ul>
                    <li id="logo"><a href="#"><img src="../static/img/logo.png" style="width: 10rem; margin: 10px;" alt=""></a></li>
                    <li><a href="/products/store/">Tienda</a></li>
                    <li><a href="/info/list_us/">Acerca de nosotros</a></li>                               
                </ul>
            </div>
            <main>
                <div class="text">
                    <h1>Ecommerce de zapatillas</h1>
                    <p>
                        Un lugar, los mejores precios
                    </p>
                    <p>                        
                        <a href="/products/list-products/"><button>Ver los productos</button></a>
                    </p>
                </div>

                <div class="image">
                    <a href="#"></a><img src="../static/img/zapas.jpg" width="300" />
                </div>
            </main>
        </header>        
        <div class="section" id="acerca de nosotros">            
            </div>            
                <footer>
             © Derechos Reservados
        </footer>
    </div>
</body>
</html>