{% extends "base.html" %}

    {% block titulo %}
    Nosotros 

    {% endblock %}

    {% block contenido_que_cambia %}


    {% for person in people %}

    <div class="card" style="width: 18rem; margin: 10px;">
        {% if person.image %}
        <img src="{{person.image.url}}"  class="card-img-top" alt="...">
        {% else %}
        <img src="" class="card-img-top" alt="...">
        {% endif %}      
        <div class="card-body">
            <h1 class="card-title">{{person.name}}</h1>
            <p class="card-text">{{person.description}}</p>
                                
    </div>
    </div>
{% endfor %}

{% endblock %}