{% extends "base.html" %}

    {% block titulo %}
  Nosotros

    {% endblock %}

    {% block contenido_que_cambia %}
    <a href="/products/list-products-highest/" class="btn btn-outline-success">Ordenar por precio más alto</a>
    <a href="/products/list-products-lowest/" class="btn btn-outline-success">Ordenar por precio más bajo</a>
    
    
    {% for product in products %}

    <div class="card" style="width: 18rem; margin: 10px;">

      

      {% if product.image %}
      <img src="{{product.image.url}}"  class="card-img-top" alt="...">
      {% else %}
      <img src="" class="card-img-top" alt="...">
      {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <h6 class="card-text">${{product.price}} </h6>
        
        
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Talle
            </a>
          
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">41</a>
              <a class="dropdown-item" href="#">42</a>
              <a class="dropdown-item" href="#">43</a>
            </div>
          </div>
                   

          <a href="/products/detalles/{{product.id}}/" class="btn btn-primary">Detalles</a>
        </div>
      </div>


{% endfor %}

{% endblock %}