{% extends "base.html" %}

    {% block titulo %}
    Busqueda productos

    {% endblock %}

    {% block contenido_que_cambia %}


    {% for product in products %}

    <div class="card" style="width: 18rem;">
        <img src="https://th.bing.com/th/id/OIP.PIXgPD0UP1WsSUw2Qz2wWAHaHa?w=208&h=208&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Precio: {{product.price}} </p>
          <p class="card-text">Stock: {{product.stock}} </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


{% endfor %}

{% endblock %}