{% extends "base.html" %}

    {% block titulo %}
  Perfil

    {% endblock %}

    {% block contenido_que_cambia %}

           <div class="card" style="width: 18rem; margin: 10px;">


      {% if profile.image %}
      <img src="{{profile.image.url}}"  class="card-img-top" alt="...">
      {% else %}
      <img src="" class="card-img-top" alt="...">
      {% endif %}
        <div class="card-body">
          <h5 class="card-title">Usuario: {{profile.user}}</h5>
          <p class="card-text">Teléfono: {{profile.phone}} </p>
          <p class="card-text">Dirección: {{profile.adress}} </p>



          <a href="/users/detalles_perfil/" class="btn btn-primary">Detalles</a>


          </div>
      </div>



{% endblock %}