{% extends "base.html" %}
{% block titulo %}
Perfil
{% endblock %}

{% block contenido_que_cambia %}

<div class="card" style="width: 20rem; margin: 12px;">

        {% if user.profile.image %}
      <img src="{{user.profile.image.url}}"  style="width: 10rem; " alt="">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">Nombre: {{user.profile.name}}</h5>
        <h5 class="card-title">Apellido: {{user.profile.lastname}}</h5>
        <h5 class="card-title">Email: {{user.profile.email}}</h5>
      
      
                       

        <a href="{% url 'edit-profile'  %}" class="btn btn-primary">Editar perfil</a>
        <a href="{% url 'delete-profile'  %}" class="btn btn-primary">Eliminar perfil</a>
        
      </div>
    </div>

{% endblock %}